@{

}
<h2>Settings List:</h2>
<ul>
    <li> Mailing:
        <ul>
            <li>Batch Delay: @ViewBag.BatchDelay</li>
            <li>Batch Delay: @ViewBag.BatchSize</li>
        </ul>
    </li>
    <li>Feed Endpoints: @ViewBag.FeedEndpoints</li>
</ul>